<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="housekeeping.housekeepingnow.mapper.CustomerDetailMapper">
    
    <resultMap id="BaseResultMap" type="housekeeping.housekeepingnow.entity.CustomerDetail">
        <id column="customer_id" property="customerId"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="birth_date" property="birthDate"/>
        <result column="address" property="address"/>
        <result column="contact_preference" property="contactPreference"/>
        <result column="points" property="points"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT customer_id, user_id, name, gender, birth_date, address, contact_preference, points, create_time, update_time
        FROM customer_detail
        WHERE customer_id = #{customerId}
    </select>
    
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT customer_id, user_id, name, gender, birth_date, address, contact_preference, points, create_time, update_time
        FROM customer_detail
        WHERE user_id = #{userId}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="customerId">
        INSERT INTO customer_detail (user_id, name, gender, birth_date, address, contact_preference, points)
        VALUES (#{userId}, #{name}, #{gender}, #{birthDate}, #{address}, #{contactPreference}, #{points})
    </insert>
    
    <update id="update">
        UPDATE customer_detail
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="address != null">address = #{address},</if>
            <if test="contactPreference != null">contact_preference = #{contactPreference},</if>
            <if test="points != null">points = #{points},</if>
        </set>
        WHERE customer_id = #{customerId}
    </update>
    
</mapper>

