<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="housekeeping.housekeepingnow.mapper.EmailRecordMapper">

    <resultMap id="BaseResultMap" type="housekeeping.housekeepingnow.entity.EmailRecord">
        <id column="email_id" property="emailId"/>
        <result column="email" property="email"/>
        <result column="email_type" property="emailType"/>
        <result column="subject" property="subject"/>
        <result column="content" property="content"/>
        <result column="code" property="code"/>
        <result column="send_status" property="sendStatus"/>
        <result column="send_time" property="sendTime"/>
        <result column="expire_time" property="expireTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT email_id, email, email_type, subject, content, code,
               send_status, send_time, expire_time, create_time
        FROM email_record
        WHERE email_id = #{emailId}
    </select>

    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT email_id, email, email_type, subject, content, code,
               send_status, send_time, expire_time, create_time
        FROM email_record
        WHERE email = #{email}
        <if test="emailType != null">
            AND email_type = #{emailType}
        </if>
        ORDER BY create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="emailId">
        INSERT INTO email_record (email, email_type, subject, content, code,
                                  send_status, send_time, expire_time)
        VALUES (#{email}, #{emailType}, #{subject}, #{content}, #{code},
                #{sendStatus}, #{sendTime}, #{expireTime})
    </insert>

    <update id="updateStatus">
        UPDATE email_record
        SET send_status = #{sendStatus}
        WHERE email_id = #{emailId}
    </update>

</mapper>


