<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="housekeeping.housekeepingnow.mapper.ServiceMapper">
    
    <resultMap id="BaseResultMap" type="housekeeping.housekeepingnow.entity.Service">
        <id column="service_id" property="serviceId"/>
        <result column="service_type_id" property="serviceTypeId"/>
        <result column="main_category" property="mainCategory"/>
        <result column="image_url" property="imageUrl"/>
        <result column="service_name" property="serviceName"/>
        <result column="description" property="description"/>
        <result column="price" property="price"/>
        <result column="estimated_duration" property="estimatedDuration"/>
        <result column="available_status" property="availableStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT service_id, service_type_id, main_category, image_url, service_name, description, price, estimated_duration, 
               available_status, create_time, update_time
        FROM service
        WHERE service_id = #{serviceId}
    </select>
    
    <select id="selectByServiceTypeId" resultMap="BaseResultMap">
        SELECT service_id, service_type_id, main_category, image_url, service_name, description, price, estimated_duration, 
               available_status, create_time, update_time
        FROM service
        WHERE service_type_id = #{serviceTypeId} AND available_status = 1
        ORDER BY service_id
    </select>
    
    <select id="selectAvailableServices" resultMap="BaseResultMap">
        SELECT service_id, service_type_id, main_category, image_url, service_name, description, price, estimated_duration, 
               available_status, create_time, update_time
        FROM service
        WHERE available_status = 1
        ORDER BY service_id
    </select>
    
    <select id="selectByMainCategory" resultMap="BaseResultMap">
        SELECT service_id, service_type_id, main_category, image_url, service_name, description, price, estimated_duration,
               available_status, create_time, update_time
        FROM service
        WHERE main_category = #{mainCategory} AND available_status = 1
        ORDER BY service_id
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="serviceId">
        INSERT INTO service (service_type_id, main_category, image_url, service_name, description, price, estimated_duration, available_status)
        VALUES (#{serviceTypeId}, #{mainCategory}, #{imageUrl}, #{serviceName}, #{description}, #{price}, #{estimatedDuration}, #{availableStatus})
    </insert>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT service_id, service_type_id, main_category, image_url, service_name, description, price, estimated_duration,
               available_status, create_time, update_time
        FROM service
        <where>
            <if test="serviceTypeId != null">AND service_type_id = #{serviceTypeId}</if>
            <if test="mainCategory != null">AND main_category = #{mainCategory}</if>
            <if test="availableStatus != null">AND available_status = #{availableStatus}</if>
        </where>
        ORDER BY service_id
    </select>

    <update id="update">
        UPDATE service
        <set>
            <if test="serviceTypeId != null">service_type_id = #{serviceTypeId},</if>
            <if test="mainCategory != null">main_category = #{mainCategory},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="serviceName != null">service_name = #{serviceName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="estimatedDuration != null">estimated_duration = #{estimatedDuration},</if>
            <if test="availableStatus != null">available_status = #{availableStatus},</if>
        </set>
        WHERE service_id = #{serviceId}
    </update>
    
    <delete id="deleteById">
        DELETE FROM service WHERE service_id = #{serviceId}
    </delete>
    
</mapper>

