<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="housekeeping.housekeepingnow.mapper.ServiceTypeMapper">
    
    <resultMap id="BaseResultMap" type="housekeeping.housekeepingnow.entity.ServiceType">
        <id column="service_type_id" property="serviceTypeId"/>
        <result column="type_name" property="typeName"/>
        <result column="description" property="description"/>
        <result column="base_price" property="basePrice"/>
        <result column="min_duration" property="minDuration"/>
        <result column="image_url" property="imageUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT service_type_id, type_name, description, base_price, min_duration, image_url, create_time, update_time
        FROM service_type
        ORDER BY service_type_id
    </select>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT service_type_id, type_name, description, base_price, min_duration, image_url, create_time, update_time
        FROM service_type
        WHERE service_type_id = #{serviceTypeId}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="serviceTypeId">
        INSERT INTO service_type (type_name, description, base_price, min_duration, image_url)
        VALUES (#{typeName}, #{description}, #{basePrice}, #{minDuration}, #{imageUrl})
    </insert>
    
    <update id="update">
        UPDATE service_type
        <set>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="basePrice != null">base_price = #{basePrice},</if>
            <if test="minDuration != null">min_duration = #{minDuration},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
        </set>
        WHERE service_type_id = #{serviceTypeId}
    </update>
    
    <delete id="deleteById">
        DELETE FROM service_type WHERE service_type_id = #{serviceTypeId}
    </delete>
    
</mapper>

