<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="housekeeping.housekeepingnow.mapper.StaffServiceSkillMapper">
    
    <resultMap id="BaseResultMap" type="housekeeping.housekeepingnow.entity.StaffServiceSkill">
        <id column="skill_id" property="skillId"/>
        <result column="staff_id" property="staffId"/>
        <result column="service_id" property="serviceId"/>
        <result column="proficiency_level" property="proficiencyLevel"/>
        <result column="certificate_url" property="certificateUrl"/>
        <result column="certificate_status" property="certificateStatus"/>
        <result column="experience_years" property="experienceYears"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="selectByStaffId" resultMap="BaseResultMap">
        SELECT skill_id, staff_id, service_id, proficiency_level, certificate_url, certificate_status, experience_years, 
               create_time, update_time
        FROM staff_service_skill
        WHERE staff_id = #{staffId}
    </select>
    
    <select id="selectByServiceId" resultMap="BaseResultMap">
        SELECT skill_id, staff_id, service_id, proficiency_level, certificate_url, certificate_status, experience_years, 
               create_time, update_time
        FROM staff_service_skill
        WHERE service_id = #{serviceId}
    </select>
    
    <select id="selectByStaffIdAndServiceId" resultMap="BaseResultMap">
        SELECT skill_id, staff_id, service_id, proficiency_level, certificate_url, certificate_status, experience_years, 
               create_time, update_time
        FROM staff_service_skill
        WHERE staff_id = #{staffId} AND service_id = #{serviceId}
    </select>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT skill_id, staff_id, service_id, proficiency_level, certificate_url, certificate_status, experience_years, 
               create_time, update_time
        FROM staff_service_skill
        WHERE skill_id = #{skillId}
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="skillId">
        INSERT INTO staff_service_skill (staff_id, service_id, proficiency_level, certificate_url, certificate_status, experience_years)
        VALUES (#{staffId}, #{serviceId}, #{proficiencyLevel}, #{certificateUrl}, #{certificateStatus}, #{experienceYears})
    </insert>
    
    <update id="update">
        UPDATE staff_service_skill
        <set>
            <if test="proficiencyLevel != null">proficiency_level = #{proficiencyLevel},</if>
            <if test="certificateUrl != null">certificate_url = #{certificateUrl},</if>
            <if test="certificateStatus != null">certificate_status = #{certificateStatus},</if>
            <if test="experienceYears != null">experience_years = #{experienceYears},</if>
        </set>
        WHERE skill_id = #{skillId}
    </update>
    
    <delete id="deleteById">
        DELETE FROM staff_service_skill WHERE skill_id = #{skillId}
    </delete>

    <delete id="deleteByStaffId">
        DELETE FROM staff_service_skill WHERE staff_id = #{staffId}
    </delete>

    <select id="selectByCertificateStatus" resultMap="BaseResultMap">
        SELECT skill_id, staff_id, service_id, proficiency_level, certificate_url, certificate_status, experience_years,
               create_time, update_time
        FROM staff_service_skill
        <where>
            <if test="certificateStatus != null">AND certificate_status = #{certificateStatus}</if>
            <if test="staffId != null">AND staff_id = #{staffId}</if>
        </where>
        ORDER BY update_time DESC
    </select>

    <update id="updateCertificateStatus">
        UPDATE staff_service_skill
        SET certificate_status = #{certificateStatus},
            update_time = NOW()
        WHERE skill_id = #{skillId}
    </update>
    
</mapper>

